In [3]:
import torch as t
x = t.rand((645,24))
conv_inp = x.unsqueeze(1)
convs = t.nn.Conv1d(1, 3, 5, 1, 2)
out = convs(conv_inp)
out = out.transpose(0,1)

In [2]:
t.rand((645,24))

tensor([[0.2349, 0.6469, 0.2204,  ..., 0.8851, 0.2096, 0.4752],
        [0.9298, 0.7181, 0.1694,  ..., 0.8644, 0.1049, 0.4736],
        [0.4488, 0.3925, 0.3230,  ..., 0.0926, 0.0437, 0.6641],
        ...,
        [0.1665, 0.0850, 0.2013,  ..., 0.1444, 0.7301, 0.5426],
        [0.3689, 0.0817, 0.9158,  ..., 0.5526, 0.5594, 0.6644],
        [0.8527, 0.8399, 0.6897,  ..., 0.1434, 0.9936, 0.0727]])

In [7]:
x1, x2, x3 = out

In [8]:
x1.shape

torch.Size([645, 24])

In [9]:
pwd

'/Users/apple/acads/nbeats/N-BEATS'

In [10]:
ls

LICENSE             __init__.py         mid_term_report.md  requirements.txt
Makefile            common/             models/             storage/
README.md           datasets/           nbeats.png          summary/
Untitled.ipynb      experiments/        notebooks/          test/

In [11]:
cd storage

/Users/apple/acads/nbeats/N-BEATS/storage

In [12]:
ls

datasets/    experiments/ test/

In [13]:
cd datasets

/Users/apple/acads/nbeats/N-BEATS/storage/datasets

In [14]:
ls

m3/

In [15]:
cd m3

/Users/apple/acads/nbeats/N-BEATS/storage/datasets/m3

In [16]:
ls

M3C.xls       horizons.npy  test.npy
groups.npy    ids.npy       training.npy

In [17]:
import numpy as np

In [20]:
data = np.load('training.npy', allow_pickle=True)

In [30]:
import pandas as pd

In [32]:
data = pd.read_excel('M3C.xls')

In [43]:
data

,Series,N,NF,Category,Starting Year,Unnamed: 5,1,2,3,4,...,38,39,40,41,42,43,44,45,46,47
0,N 1,20,6,MICRO,1975,1,940.66,1084.86,1244.98,1445.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N 2,20,6,MICRO,1975,1,1991.05,2306.40,2604.00,2992.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N 3,20,6,MICRO,1975,1,1461.57,1692.50,2193.82,2459.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N 4,20,6,MICRO,1975,1,744.54,1105.16,1417.40,1838.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N 5,20,6,MICRO,1975,1,4977.18,5248.00,5370.00,6184.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,N 641,36,6,OTHER,1811,1,5980.00,4970.00,5020.00,3820.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,N 642,36,6,OTHER,1847,1,4950.00,6610.00,6860.00,6460.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,N 643,36,6,OTHER,1883,1,5700.00,4420.00,5900.00,6810.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,N 644,36,6,OTHER,1919,1,6480.00,5470.00,2790.00,7570.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,N 645,38,6,OTHER,1955,1,6030.00,5070.00,5970.00,7870.00,...,4001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

What is this.

In [44]:
ls

M3C.xls       horizons.npy  test.npy
groups.npy    ids.npy       training.npy

In [48]:
print(np.load('horizons.npy', allow_pickle=True))

[6 6 6 ... 8 8 8]

In [51]:
1024 / 8

128.0